.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    /* padding-top: 100px;  */
    padding : 2em;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.7);
    animation: fade-in 0.4s ease forwards;
  }

  .ComplaintModal {
    width: 100%;
    padding: 4rem 2rem 4rem 5rem;
    box-sizing: border-box;
    display: flex;
    gap: 3em;
    align-items: center;
   max-height: 100vh;
    overflow-y: auto
  }

  .modalContent {
    background-color: #fefefe;
    margin: 3em auto;
    padding: 20px;
    border: 2px solid #888;
    max-width: 50%;
  }